html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6vh;
    /* Margin bottom by footer height */
}

.col-2,
.col-4,
.col-8 {
    margin: 2vh 0;
}

.choisir {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.with-nav {
    margin-top: 10vh;
}

.footer {
    position: absolute;
    /*bottom: 0; */
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #75c9c8;
    font-size: 1.373em;
}

span.text-muted {
    font-size: 1.2rem;
}

/*END Sticky footer specific style*/
/*margin bottom for the header*/
/*header{margin-bottom: 10vh; }*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*END argin bottom for the nav*/
.carousel100 {
    max-height: 80vh;
}

.carousel10 {
    max-height: 30vh;
}

/* .row {margin-top: 2vh; margin-bottom: 2vh;} */
.card-img-top {
    max-height: 13.5vh;
}

form>div.row {
    margin-top: 0vh;
    margin-bottom: 2vh;
}

#confirmer>.row {
    margin-top: 0vh;
    margin-bottom: 1.65vh;
}

.img-thumbnail {
    height: 10vh;
}

.row.card-deck {
    margin-bottom: 3.4vh;
}